<% content_for :page_title, "Edit Post" %>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-3">
      <div class="panel panel-default mt-5">
        <div class="panel-body">
          <div class="form-group">
            <%= render "form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>