 <div class="container">
    <div class="row bg-success">
      <div class="col-sm-12 mt-5 text-center">
        <h1>
          <small class="lead"><b>Blog Index Page</b></small>
        </h1>
      </div>
    </div>
  </div>


