<% content_for :page_title, "Basic Blog Application" %>
<% content_for :sub_title, "Welcome to Basic Blog Application Build On Ruby on Rails." %>
<div class="container  bg-success">
    <div class="row">
      <div class="col-sm-8 offset-2 mt-5">
        <div class="panel panel-default">
          <div class="panel-heading">Blog Posts</div>
          <div class="panel-body">
            <% @posts.each do |post| %>
              <div class="card mt-2">
                <div class="card-title text-center bg-info">
                  <%= link_to post.title, post %>
                </div>
                <div class="card-body">
                  <%= post.body %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>


